@import 'addon-mixins';

/*** FONTS & FONT STYLES ***/
@include font-face('gobold', '../fonts/gobold/Gobold');
@include font-face('brandon-regular', '../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont');
@include font-face('brandon-bold', '../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont');
@include font-face('brandon-black', '../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont');
@include font-face('helvetica-condensed', '../fonts/helvetica-neue-condensed/HelveticaNeueLTStd-Cn');
@include font-face('helvetica-condensed-oblique', '../fonts/helvetica-neue-condensed/HelveticaNeueLTStd-CnO');

@include headings { font-family: 'gobold', sans-serif; font-weight: normal; text-transform: uppercase; margin-top: 0; }

/*** COLORS ***/
$ltgreen:		#9ccb3b;
$green:			#b4d762;
$ultrablue:		#00c7ca;
$ltblue:		#00b6ba;
$ltyellow:		#fcc74e;
$yellow:		#feba12;
$ltorange:		#f7a853;
$orange:		#f7941e;
$red:			#c3435b;
$white:			#ffffff;
$ltgray:		#ececec;
$medgray:		#4b4b4b;
$darkgray:		#404041;
$black:			#000000;

/*** BASE STYLES ***/
body 	{ font: 15px/26px 'helvetica-condensed', sans-serif; color: $darkgray; }
strong,
.strong	{ font-family: 'helvetica-condensed', sans-serif; font-weight: bold; }
h1		{ font-size: 2.25em; }
h2		{ font-size: 2em; }
h3		{ font-size: 1.75em; }
h4		{ font-size: 1.5em; }
h5		{ font-size: 1.25em; }
h6		{ font-size: 1em; }

p 		{ margin: 0 0 15px; }
a, a:visited, a:hover, a:active, a:focus { text-decoration: none; }
a 		{ @include mix-transition(all,0.3s,ease); }

.alignnone, img.alignnone     { float: none !important; margin: 0 0 15px; }
.alignleft, img.alignleft     { float: left; margin: 0 15px 15px 0; }
.alignright, img.alignright   { float: right; margin: 0 0 15px 15px; }
.aligncenter, img.aligncenter { float: none; display: block; margin: 0 auto 15px; }
.alignhero, img.alignhero	  { float: none; display: block; margin: 0 auto; }

/*** BACKGROUNDS ***/
.white-bg		{ background: $white; }
.darkgray-bg 	{ background: $darkgray; color: $white; }
.green-bg		{ background: $ltgreen; color: $white; }
.blue-bg		{ background: $ltblue; color: $white; }
.yellow-bg		{ background: $yellow; }
.red-bg			{ background: $red; }
.orange-bg		{ background: $orange; }

/*** TEXT COLORS ***/
.yellow-text	{ color: $yellow; }
.blue-text		{ color: $ltblue; }
.green-text		{ color: $ltgreen; }
.orange-text	{ color: $orange; }

.brookfield-residential-txt { color: $yellow; }
.d-r-horton-txt				{ color: $ltblue; }
.dream-finders-homes-txt	{ color: $orange; }
.richmond-american-homes-txt { color: $ltgreen; }


/*** BUTTONS ***/
.btn { @include mix-transition(all,0.3s,ease); @include border-radius(6px); text-transform: uppercase; font-family: 'brandon-bold', sans-serif; padding: 6px 25px; font-size: 1.1em; }
.btn:hover 			{ color: rgba(255,255,255,0.8); }
.gray-btn 			{ background: $darkgray; color: $white; }
.blue-btn 			{ background: $ltblue; color: $white; }
.blue-btn:hover		{ background: $ultrablue; color: $white; }
.white-btn 			{ background: $white; color: $darkgray; }
.white-btn:hover 	{ background: $ltgray; color: $darkgray; }
.yellow-btn			{ background: $yellow; color: $white; }
.yellow-btn:hover	{ background: $ltyellow; color: $white; }
.green-btn			{ background: $ltgreen; color: $white; }
.green-btn:hover	{ background: $green; color: $white; }
.orange-btn			{ background: $orange; color: $white; }
.orange-btn:hover   { background: $ltorange; color: $white; }


